* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgb(115, 17, 49);
    display: flex;
    width: 100%;
    margin: auto;
    height: 20vh;
    align-items: center;
}

h4 { 
    color: white;
    font-size: 150%;
}
a {
    color: white;
    font-size: 140%;
}

.logo-container {
    flex: 1;
}
.logo {
    margin: 20px;
    margin-top: 40px;
}
.nav {
    flex: 1;    
}

.logo-container {
    display: flex;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 100;
}

.nav-link {
    display: flex;
    text-decoration: none;
    margin: 100;
}

.contact-stuff {
    background-color: rgb(70, 9, 43);
    margin: 10;
    height: 15%;
    width: 15%;
}

b {
    color: white;
    font-size: 150%;
}

.series_div {
    align-content: space-between;
    background-color: rgb(70, 9, 43);
    width: 250;
    margin-top: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-bottom: 0.5cm;
}

.analysis_div {
    background-color: rgb(70, 9, 43);
    width: 250;
    margin-top: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-bottom: 0.5cm;
}